*,
*::before,
*::after {
  box-sizing: border-box;
}
/* setting height, margin, and padding properties for wrapper and body */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* setting font and bg-color for body */
body {
  font-family: sans-serif;
  background-color: #e0e4e7;
}
/* setting padding properties for wrapper */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* setting properties for header */
header {
  padding-top: 0px;
  padding: 20px;
  color: hsl(206, 17%, 28%);
  text-align: center;
}
/* setting properties for .card */
.card {
  background-color: hsl(0, 54%, 93%);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  padding: 30px 40px;
}
/* setting properties for .card-header */
.card-header::after {
  content: " ";
  width: 100%;
  display: block;
  height: 2px;
  background: #c8cccf;
}
/* setting properties for .card-body */
.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}
/* setting properties for .card-footer */
.card-footer::before {
  content: " ";
  width: 100%;
  background: #d3d6da;
  height: 2px;
  display: block;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}
/* setting properies for buttons */
.btn {
  border: none;
  border-radius: 25px;
  background-color: hsl(360, 91%, 36%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  padding: 14px 34px;
  text-align: center;
  margin: 16px 16px 16px 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}
/* setting properties for #password */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px 15px 85px;
  font-size: 1.2rem;
  text-align: center;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  margin: 10px 0px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
/* setting @media properties so its responsive to different screen sizes */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.7rem;
  }
}
